.hero-sec {
    background: linear-gradient(to bottom, rgba(115, 26, 249, 0.764), rgb(151, 230, 244));
    color: white;
}
.sidebar .nav-link {
  transition: background-color 0.2s ease;
}

.sidebar .nav-link:hover {
  background-color: #f0f0f0; 
}

.sidebar .nav-link.active {
  background-color: #6741f0; 
  color: #fff !important;
  font-weight: bold;        
  border-radius: 15px; 
}

