.card{
    animation: motion 3s linear;
}


.card:hover{
    box-shadow:-5px -5px 5px black, 5px 5px 5px black;
    transform:translateX(20px) translateY(-10px) translateZ(50px);
}

@keyframes motion{
    0%{
        transform: scale(0.5);
        opacity:0;
    }
    100%{
        transform: scale(1.1);
        opacity:2;
    }
}